<span>{{# account_name }}<a class="userlink" href="/{{ account_name }}">{{/ account_name }}{{# image_small }}<img src="{{ image_small }}" width="20" style="margin-right:4px">{{/ image_small }}{{ name }}</a>&nbsp;{{#special_tag}}<span class="label label-primary">{{ special_tag }}</span>{{/special_tag}}</span>
