<ul>
    {{#submissions}}
        <li class="submission row bs-callout {{_followUpState}} {{#updating}}updating{{/updating}} {{#hidden}}hidden{{/hidden}}">
            <div class="col-md-12">
                {{#if user.id}}
                <span class="toggle-user-rsvp" {{data 'submission'}}><i class="fa {{user_rsvp}}"></i></span>
                {{/if}}
                <span class="label label-info">{{num_rsvp}}</span>&nbsp;
                {{^followUpState}}
                {{!--overdue tasks get a warning badge--}}
                    {{#overdue}}
                        <span class="label label-warning">{{ followUpDays }} <i class="fa fa-warning"></i></span>
                    {{/overdue}}
                    {{!--not overdue--}}
                    {{^overdue}}
                        <span class="label label-default">{{ followUpDays }} <i class="fa fa-clock-o"></i></span>
                    {{/overdue}}
                    &nbsp;
                {{/followUpState}}
                {{#if user.staff}}
                    <a href="/eventform?id={{id}}" class="submission-link">{{ title }}</a>
                {{else}}
                    {{ title }}
                {{/if}}
                &nbsp;
                <span>{{ _duration }}</span>&nbsp;
                <span>
                    <small>
                        Suggested by {{#submitter}}{{>user_link}}{{/submitter}}. 
                        {{#if has_presenters}}Suggested presenters: {{/if}}
                        {{#userPresenters}}{{>user_link}}{{/userPresenters}}
                        {{_presenters}}
                    </small>
                </span>&nbsp;
                {{#tags}}
                    <span class="label label-info"><i class="fa fa-tag"></i>&nbsp;{{ . }}</span>&nbsp;
                {{/tags}}
               {{ description }}
            </div>
        </li>
    {{/submissions}}
</ul>

