     <button class="btn btn-info btn-sm {{#all}}active{{/all}}">all</button>
    {{#tags}}
        <button class="btn btn-default btn-xs {{#included}}btn-info{{/included}} {{#excluded}}btn-danger excluded{{/excluded}}"
                data-tag="{{name}}">{{name}}</button>
    {{/tags}}