     <button class="btn btn-default btn-sm {{#all}}active{{/all}}">all</button><br/>
    {{#tags}}
        <button title="{{desc}}" class="btn btn-default btn-xs {{#isIncluded}}active{{/isIncluded}} {{#isExcluded}}btn-danger active excluded{{/isExcluded}}"
                data-tag="{{name}}">{{name}}</button>
    {{/tags}}