<a class="userlink" href="/{{ account_name }}"><img src="{{ image_small }}" width="20" style="margin-right:4px">{{ name }}</a>&nbsp;{{#special_tag}}<span class="label label-primary">{{ special_tag }}</span>{{/special_tag}}


