<a class="userlink" href="/{{ user.account_name }}"><img src="{{ user.image_small }}" width="20" style="margin-right:5px;text-decoration: none;">{{ user.name }}</a>&nbsp;{{#user.special_tag}}<span class="label label-primary">{{ user.special_tag }}</span>{{/user.special_tag}}


