body {
	background-color: #2c3e50;
	font-family: "Droid Sans";
	font-style: bold;
	color: #34495e;
}
.where{ background-color:#e67e22;}
.when { background-color:#9b59b6;}
.who { background-color:#1abc9c;}
.what { background-color:#bdc3c7;}
.event{ 
	float:left;
	width:30%;
	padding:12px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.event:hover {
	background-color:#bdc3c7;
}
.emp {
	font-weight:600;
}
.section {
	padding: 10px;
	overflow:hidden;
	clear:both;
}
.include,
.exclude,
.require,
.question,
.answer,
.header{
	margin: 4px;
	padding: 4px;
	width: auto;
    float: left; 
}
#leftmenu{
	position:fixed;
	width:12em;
	top:0px;
	left:0px;
	z-index:2;
}
#spacer{
	position:relative;
	height:6em;
	z-index:-1;
}
#info{
	color:#2c3e50;
	background-color:#7f8c8d;
	float:left;
	clear:left;
	padding: .5em;
	position: relative;
}
info:after{
   content: "";
   position: absolute;
   left: 100px;
   top: 0px;
   width: 0;
   height: 0;
   border-top: .5em solid transparent;
   border-left: 1em solid red;
   border-bottom: .5em solid transparent;
   z-index:10;
}
#request{
	width: auto;
    float: left; 
}
#report{
	background-color:#ecf0f1;
}
#charnum {
	color:#bdc3c7;
}
#newperson {
	float:right;
	background-color:#16a085; 
	width:8em;
}
.include,
.exclude,
.require{
	text-indent: 18px;
	font-size: small;
}
.title{
	font-weight:700;
}
.spaninclude{
	background: #3498db;
	text-indent: 24px;
}
.spanexclude{
	background: #f39c12;
}
.spanrequire{
	background: #2ecc71;
	text-indent: 24px;
}
.programparticipant,
.duration{
	margin: 3px;
}
.header {
	color:#ecf0f1;
	font-size:x-large;
	font-weight:bold;
	opacity:.5;
}
#masthead{
}
.withmenu{
	margin-left:12em;
}
.penguin{
	position:fixed;
	top: 50%;
	left: 50%;
	background: url(/static/penguintrax.png) no-repeat center center;
	height:194px;
	width:194px;
	z-index:-2;
}
.penguinhead{
	position:absolute;
	background: url(/static/penguintrax.png) no-repeat center center;
	height:194px;
	width:194px;
	top:4px;
	right:8em;
	z-index:-1;
}
.selectlist {
	width: 220px;
}
label,
input,
button,
select,
textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
input,
button,
select,
textarea {
    font-family:"Droid Sans", Tahoma, Arial, Verdana, sans-serif;
	background-color:#ecf0f1;
	border:none;
	color:#34495e;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.include,
.exclude,
.require{
	-moz-border-radius:.8em;
	-webkit-border-radius:.8em;
	border-radius:.8em;
}
textarea{
  height: auto;
}
.buttons a,
.buttons {
	display:inline-block;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius: 10px;
	margin:0 7px 0 0;
	color:#ecf0f1; 
	background-color:#e74c3c;
	border:1px solid #dedede;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	cursor:pointer;
	padding:5px 10px 6px 7px;
	width:;
}
#tabs{
	width:12em;
	top:0;
	left:0;
	clear:right;
}
.hidenav,
#ortab,
#andtab,
#nottab{
	width: 3em;
	float:left;
}
.hidenav {
	background: #2c3e50 url(/static/collapseexpandicon.png) no-repeat center center;
}
.roomtab {
	background-color: #e79d5c;
	-webkit-border-radius: .8em;
	-moz-border-radius: .8em;
	border-radius: .8em;
	overflow: hidden;
	height: 1.3em;
}
.divider {
	clear:both; 
	border-color:#000;
	border:solid;
	margin:.2em;
}
.include,
.exclude,
.require{
	background: #2c3e50 url(/static/collapseexpandicon.png) no-repeat center center;
}
.or{
	background: #3498db;
}
.not{
	background: #f39c12;
}
.and{
	background: #2ecc71;
}
.or, .not, .and{ text-align:center;}

.tag, .off {
	color: #cfd5d7;
	background-color: #7f8c8d;
	-moz-border-radius: .8em;
	-webkit-border-radius: .8em;
	border-radius: .8em;
	float: left;
	margin: .2em;
	padding: .2em;
	width: auto; 
}
.on {
	color: #34495e;
	background-color: #cfd5d7;
	font-size: '1.3em';
}
