@import (less) "bootstrap/css/bootstrap.css";
@import (less) "bootstrap/css/bootstrap-theme.css";
//@import (less) "mystyles2.css";

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}

.bs-callout-default {
  background-color: #f7f7f9;
  border-color: #e1e1e8;
}