#tagfilter {
  margin : 10px;
  .btn {

    &.excluded {
      text-decoration: line-through;
    }
  }
}

#submissions {
  margin : 15px 0;
  ul {
    margin : 0;
    padding: 0;
  }
  li {
    list-style-type : none;
    margin-left: 0;
  }
}