<div class="row">
    <div class="col-md-12">
     <button class="btn btn-default btn-sm {{#all}}btn-inverse{{/all}}">all</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    {{#tags}}
        <button class="btn btn-default btn-xs {{#included}}btn-inverse{{/included}} {{#excluded}}btn-danger excluded{{/excluded}}"
                data-tag="{{name}}">{{name}}</button>
    {{/tags}}
    </div>
</div>