*.pyc
*.swp
*~
#flask env stuff
include/
lib/
local/
venv/
penguicontrax.db
openid_store
psql_runserver.sh
.idea
bower_components
node_modules
*.lp
*.mps
*.o
modeler/bin
modeler/obj
*.layout
*.exe
*.sol
*.zip
modeler/soci-3.2.2
tmp/
modeler/cmake-2.8.12.2
modeler/sqlite-autoconf-3080401
