Flask==0.10.1
Flask-SQLAlchemy==1.0
Jinja2==2.7.2
MarkupSafe==0.18
SQLAlchemy==0.9.1
Werkzeug==0.9.4
gunicorn==18.0
itsdangerous==0.23
wsgiref==0.1.2
Flask-OpenID==1.2.1
python-openid==2.2.5
Flask-OAuth==0.12
Flask-Cache==0.12
Flask-RESTful==0.2.11
nose==1.3.0
psycopg2==2.5.2