<!DOCTYPE html>
{% import 'macros.html' as macros %}
<html lang="en">
<title>{% block title %}{% endblock %}</title>
<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='ptrax.css') }}" rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body>
<div class="row header">
    <div class="col-md-7">
    <h3 class="title">
        <a href="/">Penguicon-TRAX <span style="font-size:small">(Tentative Requested Activity Xperiment)</span></a>
    </h3>
    </div>
    <div class="col-md-5 text-right ptrax-login">
        <div class="row">
            <div class="col-md-12" style="margin: 10px 0 0 0">
                <form action="/logout" method=get>
                    {% if user is none %}
                    <span>Log in using:
                    <a href="/login?provider=facebook"><img src="static/facebook-16x16.png" hspace="5px"></a>
                    <a href="/login?provider=twitter"><img src="static/twitter-16x16.png" hspace="5px"></a>
                    <a href="/login?provider=google"><img src="static/google-16x16.png" hspace="5px"></a>
                    <a href="/login?provider=yahoo"><img src="static/yahoo-16x16.png" hspace="5px"></a>
                    {% else %}
                    {{ macros.user_link(user) }}
                    {% if user.staff == 0 %}
                    {{ user.points }} RSVP points left
                    {% endif %}
                    <input class="btn btn-primary btn-xs" type=submit value="Logout">
                    {% endif %}
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    {% block body %}
    {% endblock %}
</div>
<script src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='lodash.min.js') }}"></script>
<script src="{{ url_for('static', filename='can.jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
<script>
    $('.tip').tooltip();
    $('.btn').button();
</script>
{% block page_script %}{% endblock %}
</body>
</html>