{% extends "base.html" %}
{% block body %}
	{% if convention is not none and g.user is not none and g.user.staff %}
		<div class="row">
			<div class="col-md-4">
				<a href="/convention/{{ convention.url }}/schedule"><span class="btn btn-primary btn-xs">Schedule</span></a>
			</div>
			<div class="col-md-4">
				<a href="/convention/{{ convention.url }}/editschedule"><span class="btn btn-primary btn-xs">Edit Schedule</span></a>
			</div>
			<div class="col-md-4">
				<a href="/convention/{{ convention.url }}/properties"><span class="btn btn-primary btn-xs">Properties</span></a>
			</div>
		</div>
	{% endif %}
{% endblock %}