{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}
    Submit an event suggestion -
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="col-md-12">
    <form id="submitEventForm" action="/submitevent" method=post>
    {% if event is not none %}
        <input type=hidden name=eventid value="{{ event.id }}">
    {% endif %}
    <div class="help-block" id="disclaimer">
        Thanks for leaving your ideas here! Just FYI, we can't accept all event suggestions, and we might decide
            to change some events we accept, OK?
    </div>
    <div class="row well section where">
        <div class="col-md-2">
            <h4 class="row">
                WHERE
            </h4>
        </div>
        <div class="col-md-4">
            <div id="typechange" class="control-group">
                <div class="radio">
                    <label for="talkbtn">
                        <input type="radio" name=eventtype
                               value="talk" id="talkbtn" {{ event.eventType | is_checked('talk') }}>An audience sits and
                        watches one or more speakers.
                    </label>
                </div>
                <div class="radio">
                    <label for="workshopbtn">
                        <input type="radio" name=eventtype
                               value="workshop" id="workshopbtn" {{ event.eventType | is_checked('workshop') }}>Hands-on
                        participatory activity.
                    </label>
                </div>
                <div class="radio">
                    <label for="bofbtn">
                        <input type="radio" name=eventtype class="typelist where question roomtab"
                               value="bof" id="bofbtn" {{ event.eventType | is_checked('bof') }}>Open discussion with no
                        presenter or organizer.
                    </label>
                </div>
                <div class="radio">
                    <label for="demobtn">
                        <input type="radio" name=eventtype class="typelist where question roomtab"
                               value="demo" id="demobtn" {{ event.eventType | is_checked('demo') }}>Tables with a
                        demonstrator up front.
                    </label>
                </div>
                <div class="radio">
                    <label for="gamebtn">
                        <input type="radio" name=eventtype
                               value="game" id="gamebtn" {{ event.eventType | is_checked('game') }}>Tabletop game.
                    </label>
                </div>
                <div class="radio">
                    <label for="onstagebtn">
                        <input type="radio" name=eventtype
                               value="onstage" id="onstagebtn" {{ event.eventType | is_checked('onstage') }}>Concert,
                        skit,
                        movie, or other onstage performance.
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name=eventtype
                               value="roving" id="rovingbtn" {{ event.eventType | is_checked('roving') }}>Activity
                        located throughout the hotel or elsewhere.
                    </label>
                </div>
            </div>

        </div>
        <div class="col-md-6 dynamic-content">
            <div class="form-group hidden" id="resources">
                {% for resource in resources %}
                    <div class="checkbox">
                        <label for="resource_{{ resource.id }}" class="checkbox">
                            <input type="checkbox" id="resource_{{ resource.id }}" name="resource"
                                   value="{{ resource.id }}" {{ event | checked_if_resourced(resource) }} >
                            {{ resource.request_form_label }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group hidden" id="players">
                <label for="players">
                    Number of Players

                    <select tabindex="" name="players" data-size="false" data-width="100%" data-style="btn-info">
                        <option value="2" {{ event.players|is_selected(2) }}>2</option>
                        <option value="3" {{ event.players|is_selected(3) }}>3</option>
                        <option value="5" {{ event.players|is_selected(4) }}>4</option>
                        <option value="5" {{ event.players|is_selected(5) }}>5</option>
                        <option value="6" {{ event.players|is_selected(6) }}>more</option>
                    </select>
                </label>
            </div>
            <div class="form-group hidden" id="otherfacility">
                <label for="facilityrequest">Additional Requests</label>
                <textarea name=facilityrequest id="facilityrequest" rows="3" cols="50"
                          placeholder="Other room and furniture setup requests go here. If you selected 'More', we'll work out the specifics with you later."
                          class="form-control">{{ event.facilityRequest | default('',true) }}</textarea>
            </div>
        </div>

    </div>
    <div class="row well section when">
        <div class="col-md-2">
            <h4 class="row">
                WHEN
            </h4>
        </div>
        <div class="col-md-10">
            <div class="col-md-2">
                <div class="row" id="duration">
                    <div class="radio">
                        <label>
                            <input type="radio" class="timechange" name="duration" value="1"
                                   id="duration_50_mins" {{ event.duration | is_checked(1) }}>50 mins
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" class="timechange" name="duration" value="2"
                                   id="duration_1_hr_50_mins" {{ event.duration | is_checked(2) }}>1 hr 50 mins
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" class="timechange" name="duration" value="3"
                                   id="duration_2_hr_50_mins" {{ event.duration | is_checked(3) }}>2 hr 50 mins
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" class="timechange" name="duration" value="4"
                                   id="duration_more" {{ event.duration | is_checked(4) }}>more
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" class="timechange" name="duration" value="5"
                                   id="duration_all_weekend" {{ event.duration | is_checked(5) }}>all weekend
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row hidden form-group" id="setupandrepeat">
                    <div class="col-md-6">
                        <label for="setuptime">Setup time
                            <select tabindex="2" name="setuptime" data-size="false" data-width="100%"
                                    data-style="btn-info">
                                <option value="0" {{ event.setupTime | is_selected(0) }}>No</option>
                                <option value="1" {{ event.setupTime | is_selected(1) }}>1 hour</option>
                                <option value="2" {{ event.setupTime | is_selected(2) }}>2 hours</option>
                                <option value="3" {{ event.setupTime | is_selected(3) }}>more</option>
                            </select>
                        </label>

                    </div>
                    <div class="col-md-6">

                        <label for="repetition">Repeat
                            <select tabindex="2" name=repetition data-size="false" data-width="100%"
                                    data-style="btn-info">
                                <option value="0" {{ event.repetition | is_selected(0) }}>No</option>
                                <option value="1" {{ event.repetition | is_selected(1) }}>twice</option>
                                <option value="2" {{ event.repetition | is_selected(2) }}>thrice</option>
                                <option value="3" {{ event.repetition | is_selected(3) }}>more</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row hidden form-group" id="othertime" style="margin-top:15px;">
                    <textarea name=timerequest id="timerequest" rows="2" cols="50"
                              placeholder="Other time requests go here. If you selected 'More', we'll work out the specifics with you later."
                              class="form-control">{{ event.timeRequest | default('',true) }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row well who">
        <div class="col-md-2">
            <h4 class="row">
                WHO
            </h4>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <p class="checkbox small suggested-by">
                        Suggested by
                        {% if event is none %}
                            <input type=hidden name=submitter_id value={{ user.id }}
                                   data-id="{{ user.id }}"
                                   data-name="{{ user.name }}"
                                   data-email="{{ user.email }}"
                                   data-phone="{{ user.phone }}"/>
                            {{ macros.user_link(user) }}
                        {% else %}
                            {% if event.submitter is not none %}
                                <input type=hidden name=submitter_id
                                       value={{ event.submitter.id }} data-name="{{ event.submitter }}"/>
                            {% endif %}
                            {{ macros.user_link(event.submitter) }}
                        {% endif %}

                        {% if event is not none %}
                            {% for user_presenter in event.userPresenters %}
                                {{ macros.user_link(user_presenter) }}
                                <input type="hidden" name="presenter_id" value="{{ user_presenter.id }}">
                                <input type="hidden" name="presenter_idtype" value="user">
                                <input name="presenter" type="hidden" value="{{ user_presenter.name }}"/>
                                <input name="phone" type="hidden" value="{{ user_presenter.phone }}"/>
                                <input name="email" type="hidden" value="{{ user_presenter.email }}"/>
                            {% endfor %}
                            {% for person_presenter in event.personPresenters %}
                                {{ macros.person_link(person_presenter) }}
                                 <input type="hidden" name="presenter_id" value="{{ person_presenter.id }}">
                                 <input type="hidden" name="presenter_idtype" value="person">
                                <input name="presenter" type="hidden" value="{{ person_presenter.name }}"/>
                                <input name="phone" type="hidden" value="{{ person_presenter.phone }}"/>
                                <input name="email" type="hidden" value="{{ person_presenter.email }}"/>
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="checkbox small">
                        <label>
                            <input type="checkbox" id="suggesterPresents"> I will present this panel
                        </label>
                    </div>
                </div>
            </div>
            <div class="row presenters-input">

                <div class="col-md-2">
                    <p>
                        <span id="pptype" class="hidden"></span>
                        <span id="pluralpptype" class="hidden"></span>
                    </p>
                </div>
                <div class="col-md-10">
                    <p class="help-block">
                    Phone numbers / email addresses will only be used by Penguicon Programming Operations during the
                    convention.
                </p>
                    <p class="form-group presenters">
                        <input type="hidden" name="presenter_id" value="">
                        <input type="hidden" name="presenter_idtype" value="">
                        <label for="presenter" id="presenterLabel">
                            Name
                            <input name="presenter" autocomplete="off" type="text" size="24" class="pp form-control presenter-typeahead"/>
                        </label>
                        &nbsp;
                        <label>
                            Phone
                            <input name="phone" type="tel" size="24" maxlength="15" class="pp form-control" placeholder="555-123-4567"/>
                        </label>
                        &nbsp;
                        <label>
                            Email
                            <input name="email" type="email" size="24" maxlength="50" class="pp form-control" placeholder="joe@bar.com"/>
                        </label>
                    </p>
                    <button id="newperson" class="pp btn"><span class="glyphicon glyphicon-plus"></span> someone else
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row well what">
        <div class="col-md-2">
            <h4 class="row">
                WHAT
            </h4>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="help-block">
                                <small>The following information will appear to attendees on the website and in the
                                    schedule
                                    book.
                                </small>
                                <br/>
                                <small><em>Please do not leave comments here for the convention committee.</em></small>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <textarea id="title" class="form-control" name="title"
                                          rows="2" cols="40"
                                          maxlength="80">{{ event.title | default('',true) }}</textarea>
                            </div>
                            <div class="help-block" id="titleadvice">
                                <small><em>The title will sometimes be used without the description, so please be
                                    informative.
                                    Only be cute if it's still easy to understand what to expect.</em></small>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="description">Descriptive blurb:</label>
                                <textarea name=description id="description" rows="8" cols="60"
                                          class="form-control"
                                          maxlength="700">{{ event.description | default('',true) }}</textarea>
                            </div>
                            <div class="help-block" id="descriptionadvice">
                                <small><em>Tips</em></small>
                                <ul>
                                    <li class="small">Don't say "I".</li>
                                    <li class="small">Instead of parentheses, try making a new sentence or re-arranging
                                        phrases in the sentence.
                                    </li>
                                    <li class="small">Many people have never heard of your topic. Help them figure out
                                        whether to attend.
                                    </li>
                                    <li class="small">Will it be introductory or advanced?</li>
                                    <li class="small">Do the participants need to bring something?</li>
                                    <li class="small">Will they need to sign up in advance at Ops?</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:25px">
                <div class="col-md-6">
                    <p>Select all topics that apply</p>

                    <div class="control-group" id="topics" data-toggle="buttons">
                        {% for tag in tags %}
                            <label class="btn btn-xs btn-info">
                                <input type="checkbox" name="tag"
                                       value="{{ tag }}" {{ event | checked_if_tagged(tag) }}>{{ tag | trim }}
                            </label>
                        {% endfor %}
                    </div>
                    <!-- TODO add user submitted tags
                    <form action="/createtag" method=post >
                    <div>
                        <label for="tagname">New topic tag:
                            <input type=text name=tagname id="tagname"
                                   class="form-control input-sm" maxlength="24"/>
                        </label>
                        <button type=submit value="Submit tag" class="btn btn-default btn-sm" name=createtag
                                id="createtag"><span class="fui-plus"></span> Submit Tag
                        </button>
                    </div>
                    </form>
                    -->
                </div>
                <div class="col-md-6">
                    <p>
                        Choose the staff liason you would like to route this submission to
                    </p>

                    <div class="control-group" id="tracks">
                        {% for track in tracks %}
                            <div class="radio">
                                <label for="track_{{ track }}">
                                    <input type="radio" name=track value="{{ track }}"
                                           id="track_{{ track }}" {{ event | checked_if_tracked(track) }}>
                                    {{ track }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row well submit">
        <div class="col-md-2">
            <h4 class="row">
                WHY NOT
            </h4>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <input type=submit value="{% if event is not none %}Update event{% else %}Submit event{% endif %}"
                           class="btn btn-default btn-primary" name=submitevent id="submitevent"/>
                    <input type=text style="display: none" name=comments id="comments"
                           {% if event is not none %}value="{{ event.comments }}"{% endif %}/>
                </div>
                <div class="col-md-9">
                    {% if user is not none and user.staff == 1 %}
                        {% if event is not none %}
                            <label for="followupstate">Submission status
                                <select tabindex="2" id="followupstate" name=followupstate
                                        data-style="btn-default">
                                    <option value="0" {{ event.followUpState | is_selected(0) }}>Suggested</option>
                                    <option value="1" {{ event.followUpState | is_selected(1) }}>Followed up</option>
                                    <option value="2" {{ event.followUpState | is_selected(2) }}>Accepted</option>
                                    <option value="3" {{ event.followUpState | is_selected(3) }}>Rejected</option>
                                </select>
                            </label>
                            {% if event.followUpState == 2 %}
                                <div class="question">
                                    <span style="color:#7f8c8d;">Create an event from this submission:</span>
                                    <input type=submit value="create" class="buttons" name=submitevent
                                           id="createevent"/>
                                </div>
                            {% endif %}
                        {% endif %}

                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    </form>
    </div>
{% endblock %}
{% block page_script %}
    {% assets filters="jsmin",output="build/submissionform-%(version)s.js","submissionform.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
