{% extends "base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block body %}
	{{ super() }}
	<form action="/submitevent" method=post >
	{% if event is not none %}
	<input type=hidden name=eventid value={{event.id}} />
	{% endif %}
	<div class="row jumbotron">
	<div class="section where" >
  		<div class="col-md-1">
		<div class="header">
			WHERE
		</div>
  		</div> <!-- col-md-11 -->
		<div class="col-md-11">
		<div id="typechange" class="btn-group" data-toggle="buttons" >
			<input type="radio" name="eventtype" class="typelist" value="noroomtype" id="noroomtype" style="display:none">
			<label class="btn btn-primary" for="talkbtn">
				<input type="radio" data-toggle="radio" name=eventtype class="typelist where questioon roomtab" value="talk"  id="talkbtn" {{ event.eventType | is_checked('talk') }}>An audience sits and watches one or more speakers.
			</label>
			<label class="btn btn-primary" for="workshopbtn">
				<input type="radio" data-toggle="radio" name=eventtype class="typelist where question roomtab" value="workshop"  id="workshopbtn" {{ event.eventType | is_checked('workshop') }}>Hands-on participatory activity.
			</label>
			<label class="btn btn-primary" for="bofbtn">
				<input type="radio" data-toggle="radio" name=eventtype class="typelist where question roomtab" value="bof"  id="bofbtn" {{ event.eventType | is_checked('bof') }}>Open discussion with no presenter or organizer.
			</label>
			<label class="btn btn-primary" for="gamebtn">
				<input type="radio" data-toggle="radio" name=eventtype class="typelist where question roomtab" value="game"  id="gamebtn" {{ event.eventType | is_checked('game') }}>Tabletop game.
			</label>
			<label class="btn btn-primary" for="onstagebtn">
				<input type="radio" data-toggle="radio" name=eventtype class="typelist where question roomtab" value="onstage"  id="onstagebtn" {{ event.eventType | is_checked('onstage') }}>Concert, skit, movie, or other onstage performance.
			</label>
			<label class="btn btn-primary" for="rovingbtn">
				<input type="radio" data-toggle="radio" name=eventtype class="typelist where question roomtab" value="roving"  id="rovingbtn" {{ event.eventType | is_checked('roving') }}>Activity located throughout the hotel or elsewhere.
			</label>
		</div>
  		</div> <!-- col-md-12 -->
		<div class="divider"></div>
		<div class="col-md-12">
<!--		<div id="resources">-->
			{% for resource in resources %}
			<div class="question">
				<label for="resource_{{ resource.id }}" class="checkbox-inline">
				<input type="checkbox"  data-toggle="checkbox" name="resource_{{ resource.id }}" id="resource_{{ resource.id }}" value="{{ resource.id }}" {{ event | checked_if_resourced(resource) }}>
				{{ resource.name }}
				</label>
<!--			</div>-->
			{% endfor %}

		</div>
		<div class="question" id="players">
			Number of Players:
			<select value="" tabindex="" name=players>
				<option value="2 {{event.players|is_selected(2)}}">2</option>
				<option value="3" {{event.players|is_selected(3)}}>3</option>
				<option value="5" {{event.players|is_selected(4)}}>4</option>
				<option value="5" {{event.players|is_selected(5)}}>5</option>
				<option value="6" {{event.players|is_selected(6)}}>more</option>
			</select>
		</div>
		<div class="question" id="furniture" >
			Round tables:
			<select value="" tabindex="" name=roundtables class="select-block">
				<option value="0" {{event.roundTables|is_selected(0)}}>0</option>
				<option value="1" {{event.roundTables|is_selected(1)}}>1</option>
				<option value="2" {{event.roundTables|is_selected(2)}}>2</option>
				<option value="3" {{event.roundTables|is_selected(3)}}>3</option>
				<option value="5" {{event.roundTables|is_selected(5)}}>more</option>
			</select>
			Long tables:
			<select value="" tabindex="" name=longtables class="select-block">
				<option value="0" {{event.longTables|is_selected(0)}}>0</option>
				<option value="1" {{event.longTables|is_selected(1)}}>1</option>
				<option value="2" {{event.longTables|is_selected(2)}}>2</option>
				<option value="3" {{event.longTables|is_selected(3)}}>3</option>
				<option value="5" {{event.longTables|is_selected(5)}}>more</option>
			</select>
		</div>
		<div class="question" id="otherfacility" >
			<textarea name=facilityrequest id="facilityrequest" rows="1" cols="50" placeholder="other facility requests" class="form-control">{{event.facilityRequest | default('',true)}}</textarea> <br />
		</div>
	</div>
  	</div> <!-- col-md-4 -->
	</div> <!-- class="row" -->
	<div class="row jumbotron">
	<div class="section when" >
		<div class="col-md-4">
		<div class="header">
			WHEN
		</div>
  		</div> <!-- col-md-4 -->
		<div class="col-md-4">
		<div class="question" >
				<select value="" class="timechange" tabindex="2" name=duration>
					<!--
					<option value="0" {{ event.duration | is_selected(0) }}>duration</option>
					-->
					<option value="1" {{ event.duration | is_selected(1) }}>50 mins</option>
					<option value="2" {{ event.duration | is_selected(2) }}>1 hr 50 mins</option>
					<option value="3" {{ event.duration | is_selected(3) }}>2 hrs 50 mins</option>
					<option value="4" {{ event.duration | is_selected(4) }}>3 hrs 50 mins</option>
					<!--
					<option value="4" {{ event.duration | is_selected(4) }}>more</option>
					-->
					<option value="5" {{ event.duration | is_selected(5) }}>all weekend</option>
				</select>
					<br/>Includes up to 10 minutes of setup prior to the event.
				<br />
		<div class="question">
                	<a id="moresetuplink" href="">more ...</a>
		</div>
  		</div> <!-- col-md-4 -->
  		<div class="col-md-4">
		<div id="setupandrepeat">
			<div class="question" >
				Setup time: 
				<select value="" tabindex="2" name=setuptime >
					<option value="0" {{ event.setupTime | is_selected(0) }}>No</option>
					<option value="1" {{ event.setupTime | is_selected(1) }}>1 hour</option>
					<option value="2" {{ event.setupTime | is_selected(2) }}>2 hours</option>
					<option value="3" {{ event.setupTime | is_selected(3) }}>more</option>
				</select><br />
			</div>
			<div class="question" >
				Repeat:
				<select value="" tabindex="2" name=repetition>
					<option value="0" {{ event.repetition | is_selected(0) }}>No</option>
					<option value="1" {{ event.repetition | is_selected(1) }}>twice</option>
					<option value="2" {{ event.repetition | is_selected(2) }}>thrice</option>
					<option value="3" {{ event.repetition | is_selected(3) }}>more</option>
				</select><br />
			</div>
		</div>
		<div class="question" id="othertime" >
			<textarea name=timerequest id="timerequest" rows="1" cols="50" placeholder="other time requests">{{event.timeRequest | default('',true)}}</textarea> <br />
		</div>
  		</div> <!-- col-md-4 -->
	</div>
	</div> <!-- class="row" -->
	<div class="row jumbotron">
	<div class="section who" id="who" >
		<div class="col-md-4">
		<div class="header">
			WHO
		</div>
		Suggester 
		{% if event is none %}
			<input type=hidden name=submitter_id value={{user.id}} />{{ macros.user_link(user) }}
		{% else %}
			<input type=hidden name=submitter_id value={{event.submitter.id}} />{{ macros.user_link(event.submitter) }}
		{% endif %}
		<span id="pptype" ></span>
		<span id="pluralpptype" ></span>
		{% if event is not none %}
			{% for user_presenter in event.userPresenters %}
				{{ macros.user_link(user_presenter) }} 
			{% endfor %}
			{% for person_presenter in event.personPresenters %}
				{{ macros.person_link(person_presenter) }}
			{% endfor %}
		{% endif %}
		<input name=person0 type=text size="24" onkeyup="countChar(this, 24)" class="pp" />
		<button id="newperson"  class="pp" >+ someone else</button>
  		</div> <!-- col-md-4 -->
	</div>
	</div> <!-- class="row" -->
	<div class="row jumbotron">
	<div class="section what">
  		<div class="col-md-4">
		<div class="header">
			WHAT
		</div>
  		</div> <!-- col-md-4 -->
  		<div class="col-md-4">
		<div id="topics">
			<!-- <div style="float:left"> -->
				Select all topics that apply:
			</div>
			{% for tag in tags %}
			<div class="tag">
				<input type="checkbox" name="tag_{{ tag }}" id="{{ tag }}tagbtn" value="{{ tag }}" {{ event | checked_if_tagged(tag) }}>
				<label for="{{ tag }}tagbtn" >
				{{ tag }}
				</label>
			</div>
			{% endfor %}
		</div>
  		</div> <!-- col-md-4 -->
  		<div class="col-md-4">
		<!-- <div class="divider"></div> -->
		<div id="trackselection">
			<div style="float:left">
				Choose one staffer to be your contact person:
			</div>

			{% for track in tracks %}
			<label for="tbn_{{ track }}">
				<div class="what question track" id="track_{{ track }}">
					<input type="radio" name=track class="tracklist" value="{{track}}"  id="tbn_{{ track }}" {{ event | checked_if_tracked(track) }}>{{ track }}
				</div>
			</label>
			{% endfor %}


		</div>
		<!-- <div class="divider"></div> -->
  		</div> <!-- col-md-4 -->
	</div> <!-- class="row" -->
	<div class="row jumbotron">
		<div class="section program_book">
  		<div class="col-md-4">
			<div class="header">
				PROGRAM BOOK	
			</div>
		</div> <!-- col-md-4 -->
  		<div class="col-md-4">
		<div class="question">
			The following information will appear to attendees on the website and in the schedule book, so please do not leave comments here for the convention committee:
		</div>
		<div class="question" >
			Title: <br />
			<textarea name=title id="title" rows="2" cols="36" onkeyup="countChar(this, 80)" />{{ event.title | default('',true) }}</textarea>
		</div>
		</div> <!-- col-md-4 -->
  		<div class="col-md-4">
		<div class="question" >
			Descriptive blurb: <br />
			<textarea name=description id="blurb" rows="8" cols="72" onkeyup="countChar(this, 700)">{{ event.description | default('',true) }}</textarea>
		</div>
		</div> <!-- col-md-4 -->
	</div>
	</div> <!-- class program_book -->
	</div> <!-- class="row" -->
	<div class="row jumbotron">
	<div class="section" >
		<div class="header">
			WHY NOT
		</div>
		<input type=text style="display: none" name=comments id="comments" {% if event is not none %}value="{{ event.comments }}"{% endif %} />
		<div class="question">
		<input type=submit value=submitevent class="buttons" name=submitevent id="submitevent" />
		</div>
		{% if user is not none and user.staff == 1 %}
			{% if event is not none %}
				<div class="question">
					<span style="color:#7f8c8d;">Submission status (staff only):</span>
					<select value="" tabindex="2" name=followupstate>
						<option value="0" {{ event | is_selected(0) }}>Suggested</option>
						<option value="1" {{ event | is_selected(1) }}>Followed up</option>
						<option value="2" {{ event | is_selected(2) }}>Accepted</option>
						<option value="3" {{ event | is_selected(3) }}>Rejected</option>
					</select>
				</div>
			{% endif %}
			<label for="private" class="checkbox-inline">
					<input type="checkbox" name="private" id="private" {% if event is not none and event.private %}checked{% endif %}/>
					Private event
			</label>
			<div class="question">
				<span id="charnum" ></span>
			</div>
		{% endif %}
	</div>
	</div> <!-- class="row" -->
	<div class="row jumbotron">
	<div class="section"><span style="color:#7f8c8d;">
	Work in progress 5/30/2013.</span><br />
	</div>
	</div> <!-- class="row" -->
	<div class="row jumbotron">
	</form>
	<form action="/createtag" method=post >
		<div>
			New Tag: <input type=text name=tagname id="tagname" />
			<input type=submit value=submittag class="buttons" name=createtag id="createtag" />
		</div>
	</form>
	</div> <!-- class="row" -->
{% endblock %}
{% block page_script %}
<script src="static/submissionform.js"></script>
<script src="{{ url_for('static', filename='Flat-UI-master/js/flatui-radio.js') }}"></script>
<script src="{{ url_for('static', filename='Flat-UI-master/js/flatui-checkbox.js') }}"></script>
<script src="{{ url_for('static', filename='Flat-UI-master/js/bootstrap-select.js') }}"></script>
{% endblock %}
