{% extends "base.html" %}
{% block title %}TRAX{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
{{ super() }}
<div class="row">
    <div class="col-md-2 tagfilter">
        <div id="hidenav">&nbsp;</div>
        <div id="taginfo">&nbsp;</div>
        <div class="btn-group">
            <button class="btn btn-default btn-xs active">all</button>
        </div>
        <div class="btn-group">
            {% for tag in tags %}
            <button class="btn btn-default btn-xs" data-tag="{{tag}}">{{ tag }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-10">
        <div class="row ">
            <div class="col-md-6">
                <h5>
                    <span class="label label-default suggested">Suggested events</span>
                    <span class="label label-warning followedup">Pending events</span>
                    <span class="label label-success approved">Approved events</span>
                    {% if user is not none and user.staff == 1 %}
                    <span class="label label-danger rejected">Rejected events</span>
                    {% endif %}
                </h5>
            </div>
            <div class="col-md-6 text-right">
                <button id="createeventbutton" class="btn btn-primary">Create an event</button>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 submissions-list">
                <form action="/rsvp" method=post>
                    {% for submission in submissions %}
                    {{ macros.event_summary(submission, user) }}
                    {% endfor %}
                </form>
                <div class="oops hidden">Oops! There are no events with that tag. Maybe you could <a href="form.html">create one</a>?</div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block page_script %}
<script type="text/javascript">

    //Handle collapsing and expanding the navigation

    $("#hidenav").click(function () {
        if ($("#leftmenu .tag").is(":hidden")) {
            //$('#hidenav').prependTo('#leftmenu');
            $("#leftmenu .tag").show('slow');
            $("#masthead, #report").addClass('withmenu');
        } else {
            //$('#hidenav').prependTo('body');
            $("#leftmenu .tag").hide('slow');
            $("#masthead, #report").removeClass('withmenu');
        }
    });

    $('.tagfilter button').click(function (ev) {

        var $el = $(ev.target);
        var tag = $el.data('tag');
        var $tagBtns = $('.tagfilter button');
        var $submissions = $('.submission');
        var subsHidden = 0;

        //clean up the clicked tag buttons
        $tagBtns.removeClass('active');
        $el.addClass('active');

        if(tag){

            $submissions.each(function (idx,el) {
                var $el = $(el);
                var subTag = $el.data('tags');

                if(subTag === tag){
                    $el.removeClass('hidden');
                }else{
                    $el.addClass('hidden');
                    subsHidden += 1;
                }

            });
        }else{
            $submissions.removeClass('hidden');
        }

        if(subsHidden === $submissions.length){
            $(".submissions-list .oops").removeClass('hidden');
        }else{
            $(".submissions-list .oops").addClass('hidden');
        }

    });
</script>
{% endblock %}