{% extends "base.html" %}
{% block title %}TRAX{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
{{ super() }}
<div class="row">
    <div class="col-md-2">
        <div class="tagsinput">
            <div class="col-md-6" align="left">
                <button id="hidenav" class="btn btn-xs"><i class="fa fa-compress"></i>
                </button>
            </div>
            <div data-toggle="tooltip" data-placement="bottom"
                 data-original-title='Filter the schedule by topics. Click some tags if you want to see only events with those topics. If you click a tag again, it will exclude all events with that topic. If you click a tag a third time, your filter will not care about that topic. If you have no topics turned on, it will turn on all the tags.'
                 class="col-md-6 tip" align="right"><i class="fa fa-info-circle"></i>
            </div>
            <div id="tagfilter"></div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="container-fluid">
            <div class="row ">
                <div class="container-fluid">
                    <div class="row" style="margin-bottom:15px">
                        <div class="col-md-4">
                            <button id="createeventbutton" class="btn btn-primary">Create an event</button>
                        </div>
                        <div class="col-md-8 text-right legend">
                            <span>Legend:</span>
                            <span class="bs-callout suggested">Awaiting followup</span>
                            <span class="bs-callout followedup">Followed up</span>
                            <span class="bs-callout accepted">Accepted</span>
                            {% if user is not none and user.staff == 1 %}
                            <span class="bs-callout rejected">Rejected</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 submissions-list">
                            <div class="row">
                                <div class="col-md-8 info"></div>
                                <div class="col-md-3">
                                    <input class="form-control" type="search" placeholder="Search"/>
                                </div>
                            </div>

                            <form action="/rsvp" method=post>
                                {% for submission in submissions %}
                                {{ macros.event_summary(submission, user) }}
                                {% endfor %}
                            </form>
                            <div class="oops hidden">Oops! There are no events with that tag. Maybe you could <a
                                    href="form.html">create one</a>?
                            </div>
                            {% if request.path != "/hidden" %}
														<div><a href="/hidden">See hidden events</a></div>
														{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block page_script %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='tagFilter.js') }}"></script>
<script type="text/javascript">

    var tags = "{% for tag in tags %}{{tag}},{% endfor%}".split(",");
    tags = tags.slice(0, tags.length - 1);

    new ptrax.TagFilter("#tagfilter", {
        tags : tags,
        tplUrl : "{{ url_for('static', filename='tagfilter.mustache') }}"
    });

    //Handle collapsing and expanding the navigation

    $("#hidenav").click(function () {
        if ($("#leftmenu .tag").is(":hidden")) {
            //$('#hidenav').prependTo('#leftmenu');
            $("#leftmenu .tag").show('slow');
            $("#masthead, #report").addClass('withmenu');
        } else {
            //$('#hidenav').prependTo('body');
            $("#leftmenu .tag").hide('slow');
            $("#masthead, #report").removeClass('withmenu');
        }
    });

    $("#createeventbutton").click(function () {
        document.location.href = "/eventform"
    });
</script>
{% endblock %}
