{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
	<div class="row socialbuttonslarge">
        <div class="col-md-5"></div>
        <div class="col-md-2">Log in using:</div>
        <div class="col-md-1">
            <a href="/login?provider=facebook">
                <i class="fa fa-facebook fa-3x"></i>
            </a>
        </div>
        <div class="col-md-1">
            <a href="/login?provider=twitter">
                <i class="fa fa-twitter fa-3x"></i>
            </a>
        </div>
        <div class="col-md-1">
            <a href="/login?provider=google">
                <i class="fa fa-google-plus fa-3x"></i>
            </a>
        </div>
        <div class="col-md-1">
            <a href="/login?provider=yahoo">
                <span style="font-size:3em; font-weight:bold; position:relative; line-height:1em;">Y!</span>
            </a>
        </div>
    </div>
{% endblock %}
