{% macro user_text(user) -%}
	<span>{{ user }}{% if user.special_tag is not none %} <span class="userspecial">{{ user.special_tag }}</span>{% endif %}</span>
{%- endmacro %}

{% macro user_link(user) -%}
	<a class="userlink" href="/{{ user.account_name }}">
		<img src="{{ user.image_small }}" width="20"> 
		{{ user_text(user) }}
	</a>
{%- endmacro %}

{% macro event_summary(submission, user) -%}
        <div class="event suggested row
            bs-callout
			{% if submission.followUpState == 1 %}
			bs-callout-warning
            {% elif submission.followUpState == 2 %}
            bs-callout-success
            {% elif submission.followUpState == 3 %}
            bs-callout-danger
            {% else %}
            bs-callout-default
            {% endif %}
        ">
			<a name="submission_{{ submission.id }}" />

			<h3 class="row">
                <a class="" href="/eventform?id={{submission.id}}">{{ submission.title }}</a>
                {% if submission.duration != 1 %}
                <span class="badge">{{ submission.duration }} hrs</span>
                {% endif %}
                <span class="lead">{{ submission.firstname }} {{ submission.lastname }}</span>
                {% if user is not none %}
                {% if submission in user.rsvped_to %}
                <input type=submit class="btn btn-danger text-right" value="un-RSVP" name=submit_{{ submission.id }} />
                {% elif user.points > 0 or user.staff == 1 %}
                <input type=submit class="btn btn-primary text-right" value="RSVP" name=submit_{{ submission.id }} />
                {% endif %}
                {% endif %}
            </h3>

            <div class="row">
                <div class="col-md-12">
                    {% for tag in submission.tags %}
                    <span class="label label-default spaninclude">{{ tag.name }}</span>
                    {% endfor %}

                    {{ submission.description }}

                    {% for rsvp in submission.rsvped_by %}
                    {{ user_link(rsvp) }}
                    {% endfor %}
                </div>
            </div>

		</div>
{%- endmacro %}
