{% macro user_text(user) -%}
	<span>{{ user.name }}{% if user.special_tag is not none %} <span class="badge">{{ user.special_tag }}</span>{% endif %}</span>
{%- endmacro %}

{% macro user_link(user) -%}
	{% if user is not none %}
		<a class="userlink" href="/{{ user.account_name }}">
			<img src="{{ user.image_small }}" width="20" style="margin-right:5px">
			{{ user_text(user) }}
		</a>
	{% else %}
		<span class="userlink">Unknown</span>
	{% endif %}
{%- endmacro %}

{% macro person_link(person) -%}
	<span class="userlink">{% if person is not none %}{{ person }}{% else %}Unknown{% endif %}</span>
{%- endmacro %}

{% macro event_summary(submission, user) -%}
        <div class="submission row bs-callout-default bs-callout {% if submission.followUpState == 0 %}suggested {% elif submission.followUpState == 1 %} followedup {% elif submission.followUpState == 2 %} accepted {% elif submission.followUpState == 3 %} rejected {% endif %}"
             data-tags="{% for tag in submission.tags %}{{tag}} {% endfor %}">

            <div class="drawer submissions">
                <div class="col-md-12">
                    <div class="btn-group" data-toggle="buttons">
                      <label for="{{ submission.id }}rsvp" class="btn btn-xs btn-inverse">
                        <input type="checkbox" name="{{ submission.id }}rsvp" id="{{ submission.id }}rsvp">
                          0 
                        {% if user is not none and submission in user.rsvped_to %}
                            <i class="fa fa-star rsvp" style="color:#e3cf7a"></i>
                        {% else %}
                            <i class="fa fa-star-o rsvp"></i>
                        {% endif %}
                      </label>
                    </div> 
					{% if submission.followUpState == 0 %}
						{% set followUpDays = submission.submitted_dt | days_since_now %}
						{% if followUpDays < 14 %}
							<span class="badge">
								{{ followUpDays }} <i class="fa fa-clock-o"></i>
							</span>
						{% else %}
							<span class="badge overdue">
								{{ followUpDays }} <i class="fa fa-warning"></i>
							</span>
						{% endif %}
						&nbsp;
					{% endif %}
                    <a href="/eventform?id={{submission.id}}">{{ submission.title }}</a>
                    {% if submission.duration != 1 %}
                    <span class="label">{{ submission.duration }} hrs</span>
                    {% endif %}
                    <span class="person">
                        {% for user_presenter in submission.userPresenters %}
                            {{ user_link(user_presenter) }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        {% for person_presenter in submission.personPresenters %}
                            {{ person_link(person_presenter) }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                     </span>

                    {% for tag in submission.tags %}
                    <span class="label label-default spaninclude">
                        <i class="fa fa-tag"></i> {{ tag.name }}
                    </span>
                    {% endfor %}

                    &nbsp;{{ submission.description }}

                    {% for rsvp in submission.rsvped_by %}
                    {% if rsvp.public_rsvps %}
                    {{ user_link(rsvp) }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
		</div>
{%- endmacro %}
