{% macro user_text(user) -%}
	<span>{{ user }}{% if user.special_tag is not none %} <span class="userspecial">{{ user.special_tag }}</span>{% endif %}</span>
{%- endmacro %}

{% macro user_link(user) -%}
	{% if user is not none %}
		<a class="userlink" href="/{{ user.account_name }}">
			<img src="{{ user.image_small }}" width="20"> 
			{{ user_text(user) }}
		</a>
	{% else %}
		<span class="userlink">Unknown</span>
	{% endif %}
{%- endmacro %}

{% macro person_link(person) -%}
	<span class="userlink">{% if person is not none %}{{ person }}{% else %}Unknown{% endif %}</span>
{%- endmacro %}

{% macro event_summary(submission, user) -%}
	{% if submission.followUpState == 1 %}
		<div class="event followedup {% for tag in submission.tags %}{{ tag }} {% endfor %}">
	{% elif submission.followUpState == 2 %}
		<div class="event approved {% for tag in submission.tags %}{{ tag }} {% endfor %}">
	{% elif submission.followUpState == 3 %}
		<div class="event rejected {% for tag in submission.tags %}{{ tag }} {% endfor %}">
	{% else %}
		<div class="event suggested {% for tag in submission.tags %}{{ tag }} {% endfor %}">
	{% endif %}
			<a name="submission_{{ submission.id }}" />
			<div class="what unit title"><a href="/eventform?id={{submission.id}}">{{ submission.title }}</a></div>
			{% if submission.duration != 1 %}
				<div class="when unit duration">{{ submission.duration }} hrs</div>
			{% endif %}
			{% for user_presenter in submission.userPresenters %}
				{{ user_link(user_presenter) }} 
			{% endfor %}
			{% for person_presenter in submission.personPresenters %}
				{{ person_link(person_presenter) }}
			{% endfor %}
			{% for tag in submission.tags %}
				<span class="spaninclude">{{ tag.name }}</span>
			{% endfor %}
			{{ submission.description }}
			{% if user is not none %}
				{% if submission in user.rsvped_to %}
					<input type=submit class="buttons" value="un-RSVP" name=submit_{{ submission.id }} />
				{% elif user.points > 0 or user.staff == 1 %}
					<input type=submit class="buttons" value="RSVP" name=submit_{{ submission.id }} />
				{% endif %}
			{% endif %}
			{% for rsvp in submission.rsvped_by %}
				{{ user_link(rsvp) }} 
			{% endfor %}
		</div>
{%- endmacro %}
