{% extends "base.html" %}
{% block title %}User list{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block body %}
<h3>Users and Presenters</h3>

<p>There are {{ blank_presenter_count }} presenter rows without names.</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Staff?</th>
            <th>Superuser?</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for info in info_list %}
            <tr>
                <td>
                    {% if info.0 %}
                        <a class="userlink" href="/{{ info.0.account_name }}">
                            {{ info.1 }}
                            {% if info.special_tag is not none %} <span class="label label-primary">{{ info.special_tag }}</span>{% endif %}
                        </a>
                        {% if info.0.openid and 'google.com' in info.0.openid %}
                            {{ macros.google_icon() }}
                        {% elif info.0.openid and 'twitter.com' in info.0.openid %}
                            <i class="fa fa-twitter-square"></i>
                        {% elif info.0.openid and 'yahoo.com' in info.0.openid %}
                            {{ macros.yahoo_icon() }}
                        {% elif info.0.fbid %}
                            <i class="fa fa-facebook-square"></i>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    {% else %}
                        {{ info.1 }}
                    {% endif %}
                </td>
                <td>{{ info.2 }}</td>
                <td>
                    {% if info.3 %}
                        {{ info.3 }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>
                    {% if info.4 %}
                        Staff
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>
                    {% if info.5 %}
                        Superuser
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>{{ info.6 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
