{% extends "base.html" %}
{% block title %}{{ user }}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block body %}
	<div id="report">
		<div class="section" > 
			<div style="float:left;">
				<img src="{{ view_user.image_large }}" />
			</div>
			<div class="event">
				<span style="font-size: 150%;">{{ macros.user_text(view_user) }}</span>
				<div>
					{% if user is not none and (user == view_user or user.staff == 1) %}
						<form action="/updateuser" method=post >
							<input type=hidden name=user_id value={{ view_user.id }} />
							{% if user.superuser %}
								<div>
									<label for="staff" >
										<input type="checkbox" id="staff" name="staff" {% if view_user.staff %}checked{% endif %}/>
										Staff
									</label>
								</div>
							{% endif %}
							<div>
								<label for="public_rsvps" >
									<input type="checkbox" id="public_rsvps" name="public_rsvps" {% if view_user.public_rsvps %}checked{% endif %}/>
									Make my RSVPs public
								</label>
							</div>
							{% if user.staff %}
								<div>
									Special tag: <input name="special_tag" id="special_tag" value="{{ view_user.special_tag | default('',true) }}" />
								</div>
							{% endif %}
							<input type=submit value="Submit" class="buttons" />
						</form>
					{% endif %}
					{% if user is not none and user.staff %}
						Creation IP: {{ user.creation_ip }}
						Login IPs: {% for ip in user.logged_in_from_ip %}{{ ip }} {% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<form action="/rsvp" method=post >
	{% for submission in view_user.rsvped_to %}
		{% if view_user == user %}
			{{ macros.event_summary(submission, user) }}
		{% else %}
			{{ macros.event_summary(submission, none) }}
		{% endif %}
	{% endfor %}
	</form>
{% endblock %}