<head>
	<script src="static/jquery-1.9.1.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#talk, #players, #furniture, #otherfacility, #setupandrepeat, #othertime, .pp, #pptype, #pluralpptype').hide();
		});
        
		// blurb should have 700 characters max. title should have 80 characters max. person should have 24 characters max.
		function countChar(thebox, limit) {
			var len = thebox.value.length;
			if (len >= limit) {
				thebox.value = thebox.value.substring(0, limit);
			} else {
				remaining = limit - len;
				$('#charnum').text(remaining + " characters remaining in " + thebox.name);
			}
		};
		
		var people = 0;
	</script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link href='static/mystyles.css' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">Penguin T.R.A.X. (Tentative Requested Activity Xperiment)</div>
<form action="/submitevent" method=post >
<div class="section where" >
	<div class="header">
		WHERE
	</div>
	<div class="question" id="eventtype" >
		<select value="" class="typechange" tabindex="1" name=typelist>
            <option value="default">Type of room layout</option>
            <option value="talk">An audience sits and watches one or more speakers.</option>
            <option value="workshop">Hands-on participatory activity.</option>
            <option value="bof">Open discussion with no presenter or organizer.</option>
            <option value="game">Tabletop game.</option>
            <option value="onstage">Concert, skit, movie, or other onstage performance.</option>
            <option value="roving">Activity located throughout the hotel or elsewhere.</option>
        </select>
	</div>
	<div id="talk">
		<div class="question" >
			<label for="projector"><input name=projector type=checkbox value="projector" id="projector">Projector</label>
		</div>
		<div class="question" id="" >
			<label for="microphone"><input name=microphone type=checkbox value="microphone" id="microphone"> Microphone</label>
		</div>
		<div class="question" id="" >
			<label for="soundsystem"><input name=soundsystem type=checkbox value="soundsystem" id="soundsystem"> Sound system</label>
		</div>
		<div class="question" id="" >
			<label for="water"><input name=water type=checkbox value="water" id="water"> Drinking water</label>
		</div>
		<div class="question" id="" >
			<label for="quiet"><input name=quiet type=checkbox value="quiet" id="quiet"> Quiet (no airwalls)</label>
		</div>
	</div>
	<div class="question" id="players">
		Number of Players:
		<select value="" tabindex="" name=players>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="5">4</option>
            <option value="5">5</option>
            <option value="6">more</option>
        </select>
	</div>
	<div class="question" id="furniture" >
		Round tables:
		<select value="" tabindex="" name=roundtables>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="5">more</option>
        </select>
		Long tables:
		<select value="" tabindex="" name=longtables>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="5">more</option>
        </select>
	</div>
	<div class="question" id="otherfacility" >
		<textarea name=facilityrequest id="facilityrequest" rows="1" cols="50" />other facility requests</textarea> <br />
	</div>
</div>
<div class="section when" >
	<div class="header">
		WHEN
	</div>
	<div class="question" >
			<select value="" class="timechange" tabindex="2" name=duration>
				<option value="0">duration</option>
				<option value="1">50 mins</option>
				<option value="2">1 hr 50 mins</option>
				<option value="3">2 hrs 50 mins</option>
				<option value="4">more</option>
				<option value="5">all weekend</option>
			</select><br />
	</div>
	<div id="setupandrepeat">
		<div class="question" >
			Setup time: 
				<select value="" tabindex="2" name=setuptime >
					<option value="0">No</option>
					<option value="1">1 hour</option>
					<option value="2">2 hours</option>
					<option value="3">more</option>
				</select><br />
		</div>
		<div class="question" >
			Repeat:
			<select value="" tabindex="2" name=repetition>
				<option value="1">No</option>
				<option value="2">twice</option>
				<option value="3">thrice</option>
				<option value="4">more</option>
			</select><br />
		</div>
	</div>
	<div class="question" id="othertime" >
		<textarea name=timerequest id="timerequest" rows="1" cols="50" />other time requests</textarea> <br />
	</div>
</div>
<div class="section who" id="who" >
	<div class="header">
		WHO
	</div>
	Suggester name (That's you):
	<input name=submitter id="submitter" type=text size="24" />
	<input type=hidden name=firstname id="firstname" />
	<input type=hidden name=lastname id="lastname" />
	Suggester email:
	<input name=email type=text size="24" />
	<span id="pptype" ></span>
	<span id="pluralpptype" ></span>
	<input name=person0 type=text size="24" onkeyup="countChar(this, 24)" class="pp" />
	<div id="newperson"  class="pp" >+ someone else</div>
</div>
<div class="section what" >
	<div class="header">
		WHAT
	</div>
	<div class="question">
		The following information will appear to attendees on the website and in the schedule book, so please do not leave comments here for the convention committee:
	</div>
	<div class="question" >
		Title: <br />
		<textarea name=title id="title" rows="2" cols="36" onkeyup="countChar(this, 80)" /></textarea>
	</div>
	<div class="question" >
		Descriptive blurb: <br />
		<textarea name=description id="blurb" rows="8" cols="72" onkeyup="countChar(this, 700)"></textarea>
	</div>
</div>
<div class="section" >
	<div class="header">
		WHY NOT
	</div>
	<input type=text style="display: none" name=comments id="comments" />
	<div class="question">
	<input type=submit value=submitevent class="buttons" name=submitevent id="submitevent" />	
	</div>
	<div class="question">
		<span id="charnum" ></span>
	</div>
</div>
<div class="section"><span style="color:#7f8c8d;">
Work in progress 5/30/2013.</span><br />
</div>
</form>
<form action="/createtag" method=post >
	<div>
		New Tag: <input type=text name=tagname id="tagname" />
        <input type=submit value=submittag class="buttons" name=createtag id="createtag" />	
	</div>
</form>
<script type="text/javascript">

var pluralized = false;

// Turn on and off appropriate fields for different event types.

$('.typechange').change(function() {
	if (pluralized == false) {
		$('#pptype').show();
	}
	switch ($(this).val()) {
		case 'default':
			$('#talk, #players, #furniture, #otherfacility').hide('slow');
			break;
		case 'talk':
			$('#players, #furniture').hide('slow');
			$('#pptype').text("Speaker:");
			$('#pluralpptype').text("Panelists:");
			$('#talk, #otherfacility, .pp').show('slow');
			break;
		case 'workshop':
			$('#players').hide('slow');
			$('#pptype').text("Activity leader:");
			$('#pluralpptype').text("Activity leaders:");
			$('#talk, #furniture, #otherfacility, .pp').show('slow');
			break;
		case 'bof':
			$('#talk, #players, #furniture, #pptype, #pluralpp').hide('slow');
			$('#otherfacility').show('slow');
			break;
		case 'game':
			$('#talk, #players, #furniture').hide('slow');
			$('#pptype').text('Game master:');
			$('#pluralpptype').text('Game masters:');
			$('#players, #furniture, #otherfacility').show('slow');
			break;
		case 'onstage':
			$('#players, #furniture').hide('slow');
			$('#pptype').text('Performer:');
			$('#pluralpptype').text('Performers:');
			$('#talk, #otherfacility').show('slow');
			break;
		case 'roving':
			$('#talk, #players, #furniture').hide('slow');
			$('#pptype').text('Activity leader:');
			$('#pluralpptype').text("Activity leaders:");
			$('#otherfacility').show('slow');
			break;
	}
});
$('.timechange').change(function() {
	if (parseInt($(this).val()) == 0) {
		$("#setupandrepeat, #othertime").hide("slow"); 
	} else if (parseInt($(this).val()) == 5){
		$("#setupandrepeat").hide("slow"); 
		$("#othertime").show("slow"); 
	} else {
		$("#setupandrepeat, #othertime").show("slow"); 
	}
});

// Limit the addition of new program participant fields.
var people = 0;
$("#newperson").click(function() {
	pluralized = true;
	$('#pptype').hide();	
	$('#pluralpptype').show();
	if(people<8){
		$("#who").append('<input name="person' + people + '" type="text" size="24" onkeyup="countChar(this, 24)" class="pp" />');
		people = people + 1;
	}
});

$('#submitevent').click( function() {
    // Turn the submitter field into firstname and lastname.
	names = $("#submitter").split(" ");
	firstname = names.shift();
	lastname = names.join();
	$("firstname").val(firstname);
    $("lastname").val(lastname);
    
    // Combine all the comment fields into one comment.
    if ($("#facilityrequest").val("other facility requests")) {
		$("#facilityrequest").val("");
	}
    if ($("#timerequest").val("other time requests")) {
		$("#timerequest").val("");
	}
	facilitycomment = $("facilityrequest").val();
	timecomment = $("timerequest").val();
	$("#comments").val(facilitycomment + " " + timecomment);
});

</script>
</body>
