<!doctype html>
<title>TRAX</title>
<head>
	<script src="static/jquery-1.9.1.min.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">  
	<link href="{{ url_for('static', filename='mystyles2.css') }}" rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="leftmenu" >
  <div id="hidenav">&nbsp;</div>
  <div id="taginfo">&nbsp;</div>
  <div class="tag off" style="font-size:x-large;">all</div>
  {% for tag in tags %}
    <div class="tag off">{{ tag }}</div>
  {% endfor %}
    <div class="tag off" id="leftcolumnsize"></div>
    <div class="tag off" id="rightcolumnsize"></div>
</div>
<div id="spacer" >
</div>
<div id="penguin">
</div>
<div id="masthead" class="withmenu">
	<div class="header">
		Penguin T.R.A.X. (Tentative Requested Activity Xperiment)
	</div>
	<div id="request"  style="clear:left">
		<a href="form.html" class="buttons" >
			Create an event.
		</a>
	</div>
	<div class="unit" style="color:#bdc3c7;">
		Log in using: <a href=""><img src="static/google-16x16.png" hspace="5px"></a><a href=""><img src="static/yahoo-16x16.png" hspace="5px"></a><a href=""><img src="static/openid-16x16.gif" hspace="5px"></a>
	</div>
	<div id="info" >
		Work in progress 6/29/2013 using last year's schedule. Click some tags!
	</div>
</div>
<div id="report" class="section withmenu" >
  <div class="column" id="leftcol" >
  {% for submission in submissions %}
    <div class="event"> <div class="what unit title">{{ submission.title }}</div> <div class="when unit duration">{{ submission.duration }} hrs</div> <div class="who unit programparticipant">{{ submission.firstname }} {{ submission.lastname }}</div> <span class="spaninclude">exampletag</span> {{ submission.description }}</div>
  {% endfor %}
  </div>
  <div class="column" id="rightcol" >
  </div>
</div>
<script type="text/javascript">
console.log("Reached the page end js.");

//Handle collapsing and expanding the navigation

$("#hidenav").click(function() {
	if ($("#leftmenu .tag").is(":hidden")) {
		//$('#hidenav').prependTo('#leftmenu');
		$("#leftmenu .tag").show('slow');
		$("#masthead, #report").addClass('withmenu');
	} else {
		//$('#hidenav').prependTo('body');
		$("#leftmenu .tag").hide('slow');
		$("#masthead, #report").removeClass('withmenu');
	}
});

// Handle clicking on tags.

var included = new Array();
var excluded = new Array();

$('.tag').click(function() {

	var tagname = $(this).text();
	
// Toggle tags between three states: Off, Include, and Exclude.

	if ($(this).hasClass('off')) {
		if (tagname == "all") {
			$('.off').add('.exclude').addClass('include').removeClass('off exclude');
			excluded = [];
			included = [];
			$('.include').each(function (i, thetag) { included.push($(thetag).text()); });	
		} else {
			$(this).removeClass('off').addClass('include');
			included.push(tagname);
		}
	} else if ($(this).hasClass('include')) {
		if (tagname == "all") {
			$('.event').hide();
			$('.include').add('.exclude').addClass('off').removeClass('include exclude');
			included = [];
			excluded = [];
		} else {
			$(this).removeClass('include').addClass('exclude');
			included.splice(included.indexOf(tagname), 1);
			excluded.push(tagname);
		}
	} else if ($(this).hasClass('exclude')) {
		$(this).removeClass('exclude').addClass('off');
		excluded.splice(excluded.indexOf(tagname), 1);
	}

// Show or hide the appropriate events:

if($('.include').length == 0) { $('#report').hide('slow'); 
} else { $('#report').show('slow'); }

$(included).each(function (i, thetag) {
	$('.'+thetag).show('slow'); 
});
$(excluded).each(function (i, thetag) {
	$('.'+thetag).hide(); });	

// Tell the user what they just did.

/*$(included).each(function (i, thetag) {
	if (included.inArray(thetag)) {
	}
} 
*/
if (included.length > 0 && excluded.length == 0) { 
	$("#info").text("Show "+included.join(", ")+" events ("+$('.event:visible').length+" events total)."); 
	if ($('.event:visible').length == 0) { 
		$('#oops').show(); 
	} else { 
		$('#oops').hide(); 
	}
} else if (included.length == 0 && excluded.length > 0) { 
	$("#info").text("Hide "+excluded.join(", ")+" events. No tags selected to view."); 
} else if (included.length > 0 && excluded.length > 0) { 
	$("#info").text("Show "+included.join(", ")+" events unless they are also "+excluded.join(", ")+" events ("+$('.event:visible').length+" events total)."); 
} else if (included.length == 0 && excluded.length == 0) {
	$("#info").text("All view settings cleared."); 
}

});
</script>
<script>
	$(document).ready(function() {
		console.log("Reached the document ready.");
		$(".event").hide();
		$("#report").hide();
		// Distribute the events between the two columns.
		leftlen = $("#leftcol").children().size();
		rightlen = $("#rightcol").children().size();
		$("#leftcolumnsize").text(leftlen+"");			
		$("#rightcolumnsize").text(rightlen+"");
/*		while (leftlen > rightlen) {
			$("#rightcol").append($("#leftcol").slice(1).remove());
			leftlen = $("#leftcol").children().size();
			rightlen = $("#rightcol").children().size();
		}*/
	} );
</script>
</body>
